'use strict';

const connect = require('connect')(),
      http = require('http'),
      swaggerTools = require('swagger-tools'),
      api = require('./swagger.json'),
      port = process.env.HTTP_PORT || 8080;

swaggerTools.initializeMiddleware(api, function(middleware) {

  connect.use(middleware.swaggerMetadata());
  connect.use(middleware.swaggerValidator());
  connect.use(middleware.swaggerRouter({
    swaggerUi: './swagger.json',
    controllers: './lib/controllers',
    useStubs: false
  }));
  connect.use(middleware.swaggerUi());

  http.createServer(connect).listen(port, function() {
    console.log('[status]  Adafruit IO is now ready at http://localhost:%d/api', port);
  });

});

