'use strict';
/************************ DEPENDENCIES *****************************/
const util = require('util'),
      Model = require('./Base');
{{#models}}{{#model}}
class {{classVarName}} extends Model {

  constructor(properties) {
    super(properties);
  }

  static type() {
    return '{{classVarName}}';
  }
  static fields() {
    return [
      {{#vars}}'{{{name}}}'{{#hasMore}},
      {{/hasMore}}{{/vars}}
    ];
  }

}

exports = module.exports = {{classVarName}};
{{/model}}{{/models}}
