{
  "name": "adafruit-io-server",
  "version": "0.1.0",
  "description": "API compatible open-source version of the Adafruit IO server",
  "main": "index.js",
  "scripts": {
    "test": "gulp test"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/adafruit/adafruit_io_server.git"
  },
  "author": "Todd Treece <todd@uniontownlabs.org>",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/adafruit/adafruit_io_server/issues"
  },
  "homepage": "https://github.com/adafruit/adafruit_io_server#readme",
  "devDependencies": {
    "dotenv": "^1.2.0",
    "gulp": "^3.9.0",
    "gulp-jshint": "^1.11.2",
    "gulp-mocha": "^2.1.3",
    "jshint-stylish": "^2.0.1"
  },
  "keywords": [
    "adafruit",
    "io",
    "adafruit io"
  ],
  "dependencies": {
    "connect": "^3.4.0",
    "swagger-tools": "^0.9.5"
  }
}
